<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="springBean" class="com.hj.ioc24.SpringBean">
        <property name="addressList">
            <list>
                <value>[杭州-浙江]</value>
                <!--<value>[九江-江西]</value>-->
            </list>
        </property>
        <property name="birthday" value="1995-09-14"/>
        <property name="username" value="${username}"/>
        <property name="sex" value="${sex}"/>
    </bean>

    <!--手动-->

    <!--注册容器后处理器,自定义-->
    <bean class="com.hj.ioc24.SpringBeanFactoryPostProcessor">
        <property name="customEditors">
            <map>
                <entry key="com.hj.ioc24.Address" value="com.hj.ioc24.Editor.AddressEditor"/>
                <entry key="java.util.Date" value="com.hj.ioc24.Editor.DataEditor"/>
                <entry key="java.lang.String" value="com.hj.ioc24.Editor.StringEditor"/>
                <entry key="java.lang.Boolean" value="com.hj.ioc24.Editor.BooleanEditor"/>
            </map>
        </property>
    </bean>


    <!--全自动-->
    <!--

    &lt;!&ndash;自动&ndash;&gt;
    &lt;!&ndash;注册容器后处理器,使用Spring提供的CustomEditorConfigurer&ndash;&gt;
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="com.hj.ioc24.Address" value="com.hj.ioc24.Editor.AddressEditor"/>
                <entry key="java.util.Date" value="com.hj.ioc24.Editor.DataEditor"/>
                &lt;!&ndash;这里自定义的属性编辑器可以不写,因为使用spring的PropertyPlaceholderConfigurer加载属性文件,
                    里面已经定义好了常用的属性编辑器,String和Boolean已经定义好。
                &ndash;&gt;
                &lt;!&ndash;<entry key="java.lang.String" value="com.hj.ioc24.Editor.StringEditor"/>
                <entry key="java.lang.Boolean" value="com.hj.ioc24.Editor.BooleanEditor"/>&ndash;&gt;
            </map>
        </property>
    </bean>
    &lt;!&ndash;使用spring的PropertyPlaceholderConfigurer加载属性文件,并且里面内置了常用的属性编辑器,
    比较String,Boolean,Integer类型
    &ndash;&gt;
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:ioc24/info.properties"/>
    </bean>

    -->

</beans>